h1 {
        font-size: 48px;
        font-family: sans-serif;
        background-color: black;
        width: fit-content;
        padding: 1% 1% 1% 1%;

}
h1 span#one {
        color: red;
}
h1 span#two {
        color: yellow;
}
div#block2 {
        font-size: 24px;
}